body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
    background-image: linear-gradient(-5deg, #ffffff, #777777);
    box-shadow: inset 23px -23px 46px #666666,
            inset -23px 23px 46px #ffffff;
    opacity: 0.9;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#registerbtn {
    color: #fff;
    background-color: darkgray;
    border: 1px gray solid;
    border-radius: 7px;
    width: fit-content;
    padding: 7px;
}

#registerbtn:hover {
    background-color: lightgray;
}

#logoutbtn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 7px;
    width: fit-content;
    padding: 7px;
}

#logoutbtn:hover {
    background-color: #ff4d4d;
}

.content-section {
    opacity: 0.8;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: linear-gradient(45deg, #eeeeee, #ffffff);
    box-shadow:  -10px 10px 21px #cccccc,
             10px -10px 21px #ffffff;
}

.article-title {
  width: 95%;
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  width: 95%;
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f9fc;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}